VITE_API_BASE_URL=https://api.agents.snsihub.ai/webhook/candidate-workflow-system
VITE_API_MODE=live
VITE_AUTH_MODE=mock
VITE_SUPABASE_URL=https://fkydcodwcpvmjeqjwgcw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_KiECnzQf_UjzxFGlMCXKvg_rEa7FJNs
VITE_HR_WORKFLOW_WEBHOOK_URL=https://api.agents.snsihub.ai/webhook/hr-workflow-system
VITE_CANDIDATE_WORKFLOW_WEBHOOK_URL=https://api.agents.snsihub.ai/webhook/candidate-workflow-system
VITE_RESUME_PARSING_WEBHOOK_URL=https://api.agents.snsihub.ai/webhook/94145035-0642-49c0-a019-23f3fc06d144

